In [26]:
#load data from web
import pandas as pd
import numpy as np

url="https://api.blockchain.info/charts/n-unique-addresses?timespan=all&format=csv"
n_users=pd.read_csv(url,names=['day','n_users'],parse_dates=['day'])

url="https://api.blockchain.info/charts/market-price?timespan=all&format=csv"
price=pd.read_csv(url,names=['day','price'],parse_dates=['day'])

In [27]:
price.head()

         day  price
0 2009-01-03    0.0
1 2009-01-05    0.0
2 2009-01-07    0.0
3 2009-01-09    0.0
4 2009-01-11    0.0

In [28]:
price_2011=price[price.day.between('1/1/2011','1/1/2012')]

In [29]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670 entries, 0 to 1669
Data columns (total 2 columns):
day      1670 non-null datetime64[ns]
price    1670 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 26.2 KB

In [30]:
price_2011.head()

           day     price
364 2011-01-01  0.299998
365 2011-01-03  0.299998
366 2011-01-05  0.298998
367 2011-01-07  0.322000
368 2011-01-09  0.322998